.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem;
    z-index: 0;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      z-index: 1;
      transform: scale(1.2) translateY(-0.5rem);
      box-shadow: 0 1.5rem 1rem rgba($color-black, 0.6);
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
