*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary-dark;
  border: 1px solid $color-primary-dark;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary;
  border: 1px solid $color-primary;
}

html {
  font-size: 62.5%; /* 10/ 16 0.625 * 16 px 
  (font-size default) = 10px que nós queremos */
  /* font-size: 10px <--> Com o font-size de
  nosso documento sendo 10px, 1rem = 10px
  (Igual ao font-size do nosso
  root). */
}

body {
  box-sizing: border-box; /* Bordas não serão incluídas na altura e largura totais */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
